<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= flash[:alert] %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% end %>

<h1 class="text-center">Research Opportunities</h1>
<!-- ======================================= --> <!-- Navbar Section --> <!--
======================================= -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <% if user_signed_in? %>
    <div>
      <% if current_user.admin? || current_user.faculty? %>
        <%= link_to "Create New Project", new_project_path, class: "btn btn-success me-2" %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "Admin Dashboard", admin_dashboard_path, class: "btn btn-warning me-2" %>
      <% end %>
    </div>

    <div>
      <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-danger" %>
    </div>
  <% else %>
    <div class="mx-auto">
      <p class="project-description">Please sign in to view details and apply:</p>
      <%= button_to "Sign in with Google",
      user_google_oauth2_omniauth_authorize_path,
      method: :post,
      class: "btn btn-primary",
      data: {
        turbo: false,
      } %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= form_with url: projects_path, method: :get, local: true, class: "mb-4 w-50" do %>
    <div class="input-group">
      <%= text_field_tag :search,
      params[:search],
      class: "form-control",
      placeholder: "Search Projects...",
      id: "search" %>
      <%# id="search" %>
      <button type="submit" class="btn btn-primary">Search</button>
      <%= link_to "Reset", projects_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<% if @projects.any? %>
  <div class="container">
    <% active_projects = @projects.select { |project| project.end_date.nil? || project.end_date > Time.current } %>
    <% active_projects.each do |project| %>
      <div class="row justify-content-center mb-4">
        <div class="col-12">
          <div class="card shadow-sm p-4">
            <div class="text-end">
              <% if current_user && (current_user.admin? || project.faculties.include?(current_user.faculty)) %>
                <%= link_to "Edit", edit_project_path(project), class: "btn btn-sm btn-warning" %>
              <% end %>

            </div>
            <h3 class="card-title"><%= project.title %></h3>

            <div class="row">
              <!-- Left Column -->
              <div class="col-md-6">
                <p class="project-description"><strong>Research Area:</strong>
                  <%= project.areas_of_research %></p>
                <p class="project-description"><strong>Start Date:</strong>
                  <%= project.start_date %></p>
                <p class="project-description"><strong>End Date:</strong>
                  <%= project.end_date %></p>
                <p class="project-description"><strong>Preferred Class:</strong>
                  <%= project.prefered_class %></p>
                <p class="project-description"><strong>Number of Positions:</strong>
                  <%= project.num_positions %></p>
              </div>
              <!-- Right Column -->
              <div class="col-md-6">
                <p><strong>Description:</strong>
                  <span class="project-description"><%= project.description %></span></p>
                <% if project.faculties.any? %>
                  <p class="project-description">
                    <strong>Faculty:</strong>
                    <%= project.faculties.map { |f| f.user.name }.join(", ") %>
                  </p>
                  <p class="project-description"><strong>Contact:</strong>
                    <%= project.faculties.map { |f| f.user.email }.join(", ") %></p>
                <% end %>

                <% if project.admin.present? %>
                  <p class="project-description"><strong>Admin:</strong>
                    <%= project.admin.user.name %></p>
                  <p class="project-description"><strong>Contact:</strong>
                    <%= project.admin.user.email %></p>
                <% end %>
              </div>
            </div>

            <p class="project-description"><strong>Other Comments:</strong>
              <%= project.other_comments.presence || "N/A" %></p>
            <!-- Apply Button -->
            <div class="text-end">
              <%= link_to "Apply",
              "https://docs.google.com/forms/d/e/1FAIpQLSf55GqUgHqCycTpiIqW3CUDBZ34UmE2OKq1HMoUxUx76e0Nfw/viewform?usp=header",
              class: "btn btn-primary",
              target: "_blank" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">No research projects available.</p>
<% end %>
