<h1>Create New Research Project</h1>

<%= form_with model: @project, url: projects_path, method: :post, local: true do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %>
        prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Project Title" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :num_positions, "Number of Positions" %>
    <%= form.number_field :num_positions %>
  </div>

  <div class="field">
    <%= form.label :areas_of_research, "Areas of Research" %>
    <%= form.text_area :areas_of_research %>
  </div>

  <div class="field">
    <%= form.label :start_semester, "Start Semester" %>
    <%= form.text_field :start_semester %>
  </div>

  <div class="field">
    <%= form.label :prefered_class, "Preferred Class (Optional)" %>
    <%= form.text_field :prefered_class %>
  </div>

  <div class="field">
    <%= form.label :other_comments, "Other Comments (Optional)" %>
    <%= form.text_area :other_comments %>
  </div>

  <div class="actions">
    <%= form.submit "Create Project" %>
  </div>
<% end %>

<%= link_to "Back to Projects", projects_path %>
