<%# app/views/projects/show.html.erb %>
<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
<% end %>

<h1 class="project-title"><%= @project.title %></h1>

<p><strong>Description:</strong>
  <span class="project-description"><%= @project.description %></span></p>
<p><strong>Number of Positions:</strong>
  <span class="num_positions"><%= @project.num_positions %></span></p>
<p><strong>Areas of Research:</strong>
  <span class=areas_of_research><%= @project.areas_of_research %></span></p>
<p><strong>Start Semester:</strong>
  <span class="start_semester"><%= @project.start_semester %></span></p>
<p><strong>Preferred Class:</strong>
  <span class="prefered_class"><%= @project.prefered_class %></span></p>
<p><strong>Other Comments:</strong>
  <%= @project.other_comments.presence || "N/A" %></p>

<% if @project.faculties.any? %>
  <p>
    <strong>Faculty:</strong>
    <%= @project.faculties.map { |f| f.user.name }.join(", ") %>
  </p>
  <p><strong>Contact:</strong>
    <%= @project.faculties.map { |f| f.user.email }.join(", ") %></p>
<% end %>

<% if @project.admin.present? %>
  <p><strong>Admin:</strong>
    <%= @project.admin.user.name %></p>
  <p><strong>Contact:</strong>
    <%= @project.admin.user.email %></p>
<% end %>

<% if current_user.present? && (current_user.admin? || @project.faculties.include?(current_user.faculty)) %>
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-warning" %>
  <%= button_to "Delete Project",
  project_path(@project),
  method: :delete,
  data: {
    confirm: "Are you sure you want to delete this project?",
  },
  class: "btn btn-danger" %>
<% end %>
<%= link_to "Back to Projects List", projects_path %>
